*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg: #4A89DC;
  --orange:#FF5733;
  --color:#808080;
}


body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 500px;
  height: 250px;
  border-radius:0 0 30px;
  box-shadow: 0 0 20px 1px rgba(128, 128, 128, 0.849);
  position: relative;
  z-index: 0;
  transition: .3s all;

  .not {
    position: absolute;
    z-index: -1;
    background-color: #333;
    width: 100%; /* Remplir toute la largeur du parent */
    height: 100%; /* Remplir toute la hauteur du parent */
    clip-path: polygon(0 0, 100% 0, 0 100%); /* Découper selon la diagonale */
  }
}

section:hover{
  background-color: #333;
 

  .not {
    position: absolute;
    z-index: -1;
    background-color: black;
    width: 100%; /* Remplir toute la largeur du parent */
    height: 100%; /* Remplir toute la hauteur du parent */
    clip-path: polygon(0 0, 100% 0, 0 100%); /* Découper selon la diagonale */
  }
}

#choice {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 50px;
  font-size: 1.5em;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  h4{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px 30px;
    span{
      height: 0px;
      width: 50px;
      background-color: white;

      img{
        max-width: 50px;
        max-height: 50px;
        margin-left: 23px;
      }
    }

    #computerchoice{
      img{
        margin-left: -10px;
      }
    }
  }
}

#choicebutton {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 15px;
  border: none;
  background-color: transparent;
  color: var(--orange);
  border: 2px solid var(--orange);
  /* color: white; */
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: .3s all;
}  

button:focus {
  background-color: var(--orange);
  color: white;
}

button:hover {
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

.style {
  color: var(--bg);
  font-weight: bold;
  font-size: 1em;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 10px;
  left: 15px;
}

.resulta {
  color: rgb(123, 187, 27);
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
  position: relative;
  bottom: 20px;
  text-align: center;
  right: 10px;
}

@media (max-width:365px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 300px;
    height: 250px;
    border-radius: 10px;
  }

  #choice {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    margin-bottom: 50px;
    font-size: 1.5em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;

  
    h4{
      display: flex;
      flex-direction: column;
      align-self: center;
      margin: 0 -2px;
      font-size: 1em;
      /* margin: 10px 50px; */
      span{
        height: 0px;
        width: 50px;
        background-color: white;
  
        img{
          max-width: 50px;
          max-height: 50px;
          margin-left: 11px;
        }
      }

      #computerchoice{
        img{
          margin-left: 15px;
        }
      }
    }
 
  }


  button {
    padding: 10px;
    background-color: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    /* color: white; */
    font-weight: bold;
    border-radius: 5px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .3s all;
  } 

  .resulta {
    color: rgb(123, 187, 27);
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
    position: relative;
    bottom: 20px;
    text-align: center;
    right: 9px;
  }
}
